body {
	background-color: lightgray;
}


/* left colum */
.leftcolumn {
	float: left;
	width: 75%;

}

/* right colum*/
.rightcolumn {
	background-color: #a9a9a9;
	float: right;
	width: 14%;
	padding-left: 20px; 
	margin-top: 24px;
	border: 3px solid rgb(0, 236, 22);

}

/* add a card effect for articles */
.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}


.div1 {
    width: 300px;
    height: 60px;
    border: 5px solid blue;
    background-color: white;
}

.textbox {
	background-color: hsl(0, 100%, 90%);
	border: 6px solid gray;
	padding-left: 13px;
	margin-top: 33px;
	margin-right: 419px;
	margin-left: 149px;
	font-family: sans-serif;

}



.infobox {
	box-shadow: 10px 10px rgb(136,0,0);
	background-color: hsl(0, 100%, 90%);
	border: 6px solid gray;
	margin-right: 1221px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 419px;
	position: fixed;
	font-family: Sans-serif;

}



.infoboxa {
	box-shadow: 10px 10px rgb(136,0,0);
	background-color: hsl(0, 100%, 90%);
	border: 6px solid gray;
	margin-right: 1271px;
	margin-top: 44px;
	margin-bottom: 50px;
	margin-left: 400px;
	right: 0px;
	left: 431px;
	position: relative;
	font-family: sans-serif;

}



.button {
	background-color: #72ce81;
	color: black;
	margin-left: 87px;
	background: yellow;
	border: 4px outset fuchsia;
}
