body {
	background-color: lightgray;
}


/* left colum */
.leftcolumn {
	float: left;
	width: 75%;

}

/* right colum*/
.rightcolumn {
	background-color: #a9a9a9;
	float: right;
	width: 14%;
	padding-left: 20px; 
	border: 5px solid red;
}

/* add a card effect for articles */
.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  font-size: 0px;
  padding: 18px 0px 40px 5px;
  text-decoration: none;
  margin-right: 288px;
  margin-left: 1597px;
  padding-top: 0px;
}


.butne {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  font-size: 0px;
  padding: 18px 0px 40px 5px;
  text-decoration: none;
  margin-right: 8px;
  margin-left: 1882px;
  margin-top: 4px;
  margin-bottom: 0px;
  width: 4px;
  top: 535px;
  float: right;
  position: absolute;
  padding-top: 0px;

}



