body {
	background-color: lightgray;
}


/* style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #e8e8d5;
}


/* style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;

}

/* change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* create an active/ current tablink class */
.tab button.active {
	background-color: #b3ca29;
}

/* style the tab content */
.tabcontent {
	background-color: rgba(255, 137, 235, 0.59);
	display: none;
	padding: 6px 12px;
	border: 5px solid #ff1111;
	border-top: none;
}
